@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #000;
  overflow-x: hidden;
}

.navbar .transparentBar, .navbar .dropdown-menu-dark {
  background: transparent;
}

.fontAldrich {
  font-family: 'Aldrich', sans-serif;
}

.container-fluid .itemsTitle {
  margin: 9rem;
  margin-bottom: 1.8rem;
  background: #FF6400;
  background: -webkit-repeating-radial-gradient(ellipse farthest-corner at center center, #FF6400 0%, #FFFFFF 90%);
  background: repeating-radial-gradient(ellipse farthest-corner at center center, #FF6400 0%, #FFFFFF 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-fluid .contentSummary {
  width: 100%;
  max-width: 650px;
  margin: 0px auto;
  color: #c4c4c4;
}

.container-fluid .productHover {
  -webkit-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
}

.container-fluid .productHover a {
  text-decoration: none;
}

.container-fluid .productHover img {
  width: 220px;
  margin: 4rem;
}

.container-fluid .productHover:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container-fluid .productHover .boxTitle {
  padding-bottom: 2rem;
  margin-bottom: 6rem;
  margin-top: -40px;
  color: #c4c4c4;
}

.blog .boxHover {
  width: 85%;
  padding-bottom: 1rem;
  margin: 1rem;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.blog .boxHover .imgBox img {
  width: 85%;
  height: 300px;
  margin: 14% 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog .boxHover:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 0.9;
}

.blog .boxHover .blogContent {
  margin-top: -15px;
  padding-bottom: 1rem;
}

.gradientBar {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#3e3e3e));
  background: linear-gradient(180deg, #000, #3e3e3e);
}

.bgColor {
  background-color: #333;
}

#laptops .productTitle {
  color: #FF6400;
  padding-top: 4rem;
  margin-top: 4rem;
}

#laptops .productBox {
  background-color: #222;
  margin: 1rem;
  max-width: 88%;
}

#laptops .productContent {
  padding-top: 1rem;
}

#laptops .productImg img {
  width: 75%;
  padding-bottom: 2rem;
}

#tarjetasMadre .productTitle {
  color: #FF6400;
  padding-top: 4rem;
  margin-top: 4.2rem;
}

#tarjetasMadre .productBox {
  background-color: #222;
  margin: 1rem;
  max-width: 85%;
}

#tarjetasMadre .productContent {
  padding-top: 1.2rem;
}

#tarjetasMadre .productImg img {
  width: 75%;
  padding-bottom: 2rem;
}

#tarjetasGraficas .productTitle {
  color: #FF6400;
  padding-top: 4rem;
  margin-top: 4.2rem;
}

#tarjetasGraficas .productBox {
  background-color: #222;
  margin: 1rem;
  max-width: 85%;
}

#tarjetasGraficas .productContent {
  padding-top: 1.2rem;
}

#tarjetasGraficas .productImg img {
  width: 75%;
  padding-bottom: 2rem;
}

.aboutBar {
  background-color: #131313;
}

.aboutContainer {
  width: 85%;
}

.aboutContainer .aboutImg img {
  width: 100%;
  height: 55%;
  padding-top: 3%;
}

.aboutContainer .aboutAorus {
  color: #FF6400;
  margin-top: 4rem;
  padding-top: 10%;
}

.aboutContainer .aboutTitle {
  color: #ff8c00;
  padding-top: 2rem;
  margin-top: 1rem;
}

.aorusFooter {
  padding-top: 3rem;
  min-height: 450px;
  background-color: #1f1f1f;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.aorusFooter .footerIcons {
  font-size: 22px;
  padding-top: 1rem;
}

.aorusFooter .footerIcons a {
  margin: 0 5px;
  padding: 0 5px;
  text-decoration: none;
  color: #fff;
}

.aorusFooter .footerIcons a:hover {
  color: #FF6400;
}

.aorusFooter .siteMap {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.aorusFooter .siteMap .col-lg-3 {
  padding: 0 3.5rem;
  margin: 1rem 0 1rem 0;
}

.aorusFooter .siteMap .col-lg-3 .mapTitle {
  padding: 0 1rem;
}

.aorusFooter .siteMap .col-lg-3 a {
  font-size: 13px;
  color: #c4c4c4;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.aorusFooter .siteMap .col-lg-3 a:hover {
  color: #FF6400;
}

.aboutFooter {
  padding-top: 3rem;
  min-height: 450px;
  background-color: #121212;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.aboutFooter .footerIcons {
  font-size: 22px;
  padding-top: 1rem;
}

.aboutFooter .footerIcons a {
  margin: 0 5px;
  padding: 0 5px;
  text-decoration: none;
  color: #fff;
}

.aboutFooter .footerIcons a:hover {
  color: #FF6400;
}

.aboutFooter .siteMap {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.aboutFooter .siteMap .col-lg-3 {
  padding: 0 3.5rem;
  margin: 1rem 0 1rem 0;
}

.aboutFooter .siteMap .col-lg-3 .mapTitle {
  padding: 0 1rem;
}

.aboutFooter .siteMap .col-lg-3 a {
  font-size: 13px;
  color: #c4c4c4;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.aboutFooter .siteMap .col-lg-3 a:hover {
  color: #FF6400;
}
/*# sourceMappingURL=estilos.css.map */