
body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #000;
}

.fontAldrich {
    font-family: 'Aldrich', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $navbar-dark;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: $bg-gray;
    border-radius: 50px;
}

.container-fluid {
    .itemsTitle {
        margin: 9rem;
        margin-bottom: 1.8rem;
        background: $aorus-orange;
        background: -webkit-repeating-radial-gradient(ellipse farthest-corner at center center, $aorus-orange 0%, $white 90%);
        background: -moz-repeating-radial-gradient(ellipse farthest-corner at center center, $aorus-orange 0%, $white 90%);
        background: repeating-radial-gradient(ellipse farthest-corner at center center, $aorus-orange 0%, $white 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .contentSummary {
        width: 100%;
        max-width: 650px;
        margin: 0px auto;
        color: $light-gray;
    }    
    .productHover {
        transition: all 350ms ease-out;
        a {
            text-decoration: none;
        }
        img {
            width: 220px;
            margin: 4rem;   
        }
        &:hover {
            transform: scale(1.1);
        }
        .boxTitle {
            padding-bottom: 2rem;
            margin-bottom: 6rem;
            margin-top: -40px;
            color: $light-gray;
        }
    }
}

.blog {
    .boxHover {
        width: 85%;
        padding-bottom: 1rem;
        margin: 1rem;
        overflow: hidden;
        filter: grayscale(100%);
        opacity: 1;
        transition: all .3s;
        .imgBox {
            img {
            width: 85%;
            height: 300px;
            margin: 14% 1rem;
            object-fit: cover;
            }
        }
        &:hover {
            filter: grayscale(0%);
            opacity: 0.9;
        }
        .blogContent {
            margin-top: -15px;
            padding-bottom: 1rem;
            padding-left: 1rem;
        }
    }
}

.gradientBar {
    background: linear-gradient(180deg,#000,#3e3e3e);
}

.bgColor {
    background-color: $bg-gray;
}

#laptops {
    .productTitle {
        color: $aorus-orange;
        padding-top: 4rem;
        margin-top: 4rem;
    }
    .productBox {
        background-color: $aorus-gray;
        margin: 1rem;
        min-width: 75%;
    }
    .productContent {
        padding-top: 1rem;
    }
    .productImg {
        img {
            width: 70%;
            padding-bottom: 2rem;
        }
    }
}

#tarjetasMadre {
    .productTitle {
        @include product-title;
    }
    .productBox {
        @include product-box;
    }
    .productContent {
        @include product-content;
    }
    .productImg {
        img {
            @include product-img;
        }
    }
}

#tarjetasGraficas {
    .productTitle {
        @include product-title;
    }
    .productBox {
        @include product-box;
    }
    .productContent {
        @include product-content;
    }
    .productImg {
        img {
            @include product-img;
        }
    }
}

.aboutBar {
    background-color: $navbar-dark;
}

.aboutContainer {
    width: 85%;
    .aboutImg {
        img {
            width: 100%;
            height: 55%;
            padding-top: 3%;
        }
    }
    .aboutAorus {
        color: $aorus-orange;
        margin-top: 4rem;
        padding-top: 10%;
    }
    .aboutTitle {
        @include about-title;
    }
}

.news-section {
    padding: 2rem 0 2rem 0;
    .lastPost {
        @include product-title;
    }
    .newBox {    
        border-bottom: 1px solid $aorus-orange;
        a {

            color: #ddd;
            text-decoration: none;
            transition: all .3s;
            .newImg {
                padding-top: 5%;
                img {
                    width: 95%;
                    max-width: 600px;
                    height: auto;
                }
            }
            .newLabel {
                margin-top: 1rem;
                margin-bottom: 10px;
                font-size: 13px;
                span {
                    background-color: $aorus-orange
                }
            }
            .newTitle {
              color: $aorus-orange;
              transition: .3s;
              &:hover {
                  color: $white;;
              }
            }
        }
    }
}

.formBox {
    .contactBox {
        margin: 0 auto;
        width: 100%;
        max-width: 400px;
        height: 600px;
        background: rgba(0,0,0,0.7);
        .contactate {
            padding: 1rem 0 1rem 0;
        }
        .row {
            .col-xs-12 {
                @extend .col-xs-6;
                .formTitle {
                    padding-left: 1%;
                    span {
                        color: #999;
                    }
                }
                .formInput {
                    width: 100%;
                    max-width: 338px;
                    height: 45px;
                    background: $input-bg;
                    color: $white;
                    border: 0;     
                }
                .inputArea {
                    @include textarea;
                    resize: vertical;
                }   
            }
            .col-xs-6 {
                padding: 0 2rem 0 2rem;
                .submitBtn {
                    padding: 3rem 2rem 0 2rem;
                    button {
                        width: 100%;
                        max-width: 245px;
                        height: 45px;
                        color: $white;
                        background: rgba(0,0,0,0.6);
                        border-bottom: 2px solid $white;
                        transition: all .3s;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }      
            }
        }
    }
}

.aorusFooter {
    @include aorus-footer;
}

.aboutFooter {
    @include about-footer;
}