@mixin product-title {
    color: $aorus-orange;
    padding-top: 4rem;
    margin-top: 4.2rem;
}

@mixin product-box {
    background-color: $aorus-gray;
    margin: 1rem;
    max-width: 85%;
}

@mixin product-content {
    padding-top: 1.2rem;
}

@mixin product-img {
    width: 80%;
    padding-bottom: 2rem;
}