$aorus-orange: #FF6400;
$white: #FFFFFF;
$light-gray: #c4c4c4;
$aorus-gray: #222;
$other-orange: #ff8c00;
$aorus-dark: #121212;
$navbar-dark: #131313;
$input-bg: #282828;
$product-bg: #333;
$page-bg: #232323;